@import "../_global.scss";

.product {
    margin: 7rem 0;
    &__row {
        display: flex;
    }
    &__left {
        border-radius: 0.8rem;
        overflow: hidden;
        margin-right: 4rem;
        img {
            width: 50rem;
            height: 40rem;
            object-fit: cover;
        }
    }
    &__right {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    &__header {
        @include font("Manrope", 2.4rem, 600, 3.5rem, #19191d);
        margin-bottom: 2rem;
    }
    &-text {
        @include font("Manrope", 1.8rem, 400, 158%, #160a29);
    }
    &__btn-buy {
        padding: 1.7rem 6rem;
        background: #4d2392;
        border-radius: 8px;
        border: none;
        @include font("Manrope", 1.6rem, 400, 2.2rem, #f9f7fd);
        box-sizing: border-box;
        svg {
            margin-right: 1rem;
        }
    }
    &__btn-favorite {
        padding: 1.7rem 6rem;
        border: 0.1rem solid #4d2392;
        background: #f9f7fd;
        border-radius: 8px;
        margin-right: 2rem;
        @include font("Manrope", 1.6rem, 400, 2.2rem, #4d2392);
        box-sizing: border-box;
        svg {
            margin-right: 1rem;
        }
    }
}
